.form{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
}

.Backdrop{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.286);
}

.jobOffers{
    background-color: #fff;
    width: 600px;
    height: 300px;
    position: absolute;
    top: 20%;
    left: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}



.jobOffers .cont{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* .cont .field{
    display: flex;
    flex-direction: column;
}

.field input{
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    height: 30px;
    padding: 5px;
}

.form button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 15px;
    margin-top: 5px;
} */

.errr{
    position: absolute;
    bottom: 65px;
    color: red;
}

.msgBox{
    width: 300px;
    height: 180px;
    position: absolute;
    left: 40%;
    top: 30%;
}

.msgBox .cont{
    position: absolute;
    top: 32%;
    left: 5%;
}

.msgBox input{
    width: 270px;
}

.msgBox button{
    width: 100px;
    margin-bottom: -15px;
}

.msgBox .errr{
    position: absolute;
    bottom: 47px;
}