.ScrollBar::-webkit-scrollbar {
    display: none;
  }

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: blue;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}


.job-description ul,
.job-description ol {
  padding-left: 20px; /* Adjust padding as needed */
  list-style: inside; /* Adjust list style as needed */
}

.job-description ul {
  list-style-type: disc;
}

.job-description ol {
  list-style-type: decimal;
}

.job-description li {
  margin-bottom: 5px; /* Adjust margin as needed */
}
